#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.btn {
    font-size: 18px;
    background-color: #ce00ce;
    color: white;
    padding: 10px 20px;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}